{{#modal-dialog}}
  <label>Item name:</label>
  {{input value=item.name}}
  <label>Description:</label>
  {{input value=item.description}}
  <button {{action "closeModal"}}>close</button>
  <button {{action "delItem"}}>del</button>
{{/modal-dialog}}